*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(201, 167, 224);
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.right ul{
    display: flex;
    list-style: none;
    margin: 10px 50px;
}

li{
    margin: 5px;
}

li a{
    text-decoration: none;
    color: white;
}

.a{
    background-color: brown;
    height: 50px;
    margin-bottom: 10px;
}

.left h1 {
    color: white;
    margin: 5px 20px;
}

h1{
    text-align: center;
    color: rgb(85, 21, 146);
}

.container{
    width: 80%;
    margin: auto;
}
.my-form{
    padding: 10px;
    background-color: rgb(225, 210, 240);
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input [type="text"]{
    padding: 5px;
    width: 100%;
}